@use './variables' as *;
@use './mixins' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

html {
  font-size: .825rem; //13.2px
}

body {
  padding-top: 60px;
  font-family: var(--font-base);

  @include mq {
    padding-top: 0;
  }
}

// ====================

// ヘッダー
.header {
  position: fixed;
  height: 60px;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 100;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;

  &__logo {
    width: 160px;
  }

  &__nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1;
    width: 60px;
    height: 60px;
    background-color: transparent;
    border: none;

    span,
    &::before,
    &::after {
      content: '';
      position: absolute;
      top: 50%;
      left: 14px;
      width: 32px;
      height: 1px;
      background-color: var(--color-primary);
      transition: .3s;
    }

    &::before {
      top: calc(50% - 8px);
    }

    &::after {
      top: calc(50% + 8px);
    }
  }

  body.open &__nav-toggle {
    span {
      transform: scaleX(0);
    }

    &::before,
    &::after {
      top: 50%;
    }

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      transform: rotate(-45deg);
    }
  }

  &__nav-container {
    position: fixed;
    width: 100%;
    height: 100%;
    background: #fff;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(100%);
    transition: transform .8s var(--easing);
  }

  body.open &__nav-container {
    transform: translateX(0);
  }

  &__nav {
    flex-grow: 2;
    display: flex;
    align-items: center;

    ul {
      list-style: none;
      text-align: center;
    }

    li {
      margin-bottom: 2em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    li a {
      text-decoration: none;
      color: var(--color-primary);
      position: relative;
      display: inline-block;
      padding-bottom: 3px;
      text-transform: uppercase;
      font-size: 1.2rem;
    }

    li a::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      height: 1px;
      width: 100%;
      background-color: var(--color-primary);
      transform: scaleX(0);
      transform-origin: right center;
      transition: transform .5s var(--easing);
    }

    li a:hover::after {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }

  &__sns {
    flex-grow: 1;
    display: flex;
    list-style: none;

    li {
      margin: 0 10px;
    }
  }

  @include mq {
    width: 200px;
    height: 100%; //100vh
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    &__logo {
      width: auto;
      padding: 40px 20px 80px;
    }

    &__nav-toggle {
      display: none;
    }

    &__nav-container {
      transform: none;
      position: static;
      width: auto;
      height: auto;
      padding: 0 20px;
      align-items: flex-start;
      flex-grow: 1;
    }

    &__nav {
      flex-grow: 0;

      ul {
        text-align: start;
      }

      li {
        margin-bottom: 1.5em;
      }

      li a {
        font-size: 1rem;
      }
    }

    &__sns {
      flex-grow: 0;
      margin-top: auto;
      padding-bottom: 30px;
    }
  }
}

// メイン
main {
  @include mq {
    margin-left: 200px;
  }
}

// メインビジュアル
.mv {
  height: calc(100vh - 60px);
  background: url(../img/mv-bg@2x.jpg) no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  opacity: 0;
  filter: brightness(2) blur(5px);
  transition: opacity 1s, filter 1.5s;

  body.loaded & {
    opacity: 1;
    filter: brightness(1) blur(0px);
  }

  &__new-issue {
    // width: 80%;
    // max-width: 500px;
    width: min(80%, 500px);
  }

  &__title {
    position: absolute;
    bottom: 50px;
    left: 20px;

    h2 {
      display: grid;
      grid-template-rows: repeat(3, auto);
      grid-gap: 10px;

    }

    h2>* {
      background-color: #fff;
      justify-self: start;
    }
  }

  &__title-date-number,
  &__title-en,
  &__title-ja {
    clip-path: inset(0 100% 0 0);
    transition: clip-path 1s 1.8s var(--easing);
    overflow: hidden;

    >span {
      display: block;
      transform: translateY(100%);
      transition: transform 1s 3s var(--easing);
    }
  }

  body.loaded &__title-date-number,
  body.loaded &__title-en,
  body.loaded &__title-ja {
    clip-path: inset(0 0 0 0);

    >span {
      transform: translateY(0);
    }
  }


  // 発行日＋No.
  &__title-date-number {
    font-size: 1.2rem;
    font-weight: 500;
  }

  &__title-en,
  &__title-ja {
    font-size: 2rem;
    font-weight: 400;
    font-feature-settings: "palt" 1;
  }

  &__title-ja {
    letter-spacing: 0.04em;
  }

  @include mq {
    height: 100vh;

    &__new-issue {
      width: auto;
      height: 85vh;
    }

    &__title-date-number {
      font-size: 1.3rem;
    }

    &__title-en,
    &__title-ja {
      // font-size: 3rem;
      font-size: clamp(2.5rem, 4vw, 3.4rem);
    }
  }

}


// バックナンバー
.backnumbers {

  &__heading {
    background-color: #f8f8f8;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .9rem;
    padding: 2rem;

    &::first-line {
      font-size: 1.2rem;
    }
  }

  &__list {
    list-style: none;

    a {
      display: block;
      padding: 3rem 1.5rem;
      text-decoration: none;
      color: var(--color-primary);
      transition: opacity .3s;

      &:hover {
        opacity: .7;
      }
    }
  }

  &__cover {
    width: 65%;
    max-width: 350px;
    display: block;
    margin: 0 auto 3rem;
    box-shadow:
      2px 2px 5px 0 rgba(0 0 0 /.2),
      0 0 20px 0 rgba(0 0 0 / .2);
  }

  &__date,
  &__number {
    font-weight: 300;
    margin-bottom: .5rem;
  }

  &__title {
    font-size: 1.4rem;
  }

  @include mq {
    &__heading {
      &::first-line {
        font-size: 1.8rem;
      }
    }

    &__list {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

}